/*font family work sans*/
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@300;400;700;800;900&display=swap');

  *{
    font-family: 'Work Sans', sans-serif;
  }
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-h3{
color: #131313;
font-size: 35px;
font-weight: 700;

}
  nav > ul{
display: flex;
  }
  nav li{
    list-style: none;
    margin-right: 30px;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
  }
  nav li a{
    text-decoration: none;
    color: #424242;
  }
  /* banner styles*/
  .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }
  .banner-h1{
color:#131313;
font-size: 65px;
font-weight: 700;
}
.banner-p{
color: #727272;
font-size: 16px;
font-weight: 400;
}
.btn-primary{
border-radius: 5px;
color: #fff;
background: #FF900E;
padding: 20px 25px;
border: 0;
font-size: 20px;
cursor: pointer;
}
.banner img{
width: 100%;
margin-top: 20px;
}
main{
max-width: 1440px;
margin: 83px auto;
}
.teams-container{
display: flex;
align-items: center;
}
.teams-img-container{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 25px;
}
.teams-content{
padding-right: 70px;
padding-left: 70px;
}
.teams-h2{
    font-size: 45px;
}
.teams-h2 .Quick-list{
color:  #727272;
font-weight: 500;
}
.teams-h2 .of-our{
color:  #131313;
font-weight: 700;
}
.teams-h2 .Features{
color: #FF900E;
font-weight: 700;
}
.teams-p{
color:  #727272;
font-size: 20px;
font-weight:500;
}
.facts-h3{
color:  #131313;
font-size: 45px;
font-weight: 700;
}
.facts-p{
color:#727272;
font-size: 18px;
font-weight: 400;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 35px;
}
.facts-card-container .card-stats{
font-size:45px ;
color: #424242;
margin-top: 10px;
margin-bottom: 10px;
}
.facts-card-container .card-title{
color:#727272;
font-size: 20px;
font-weight: 600;
margin-top: 5px;
}
.section-h3{
color:#131313;
font-size: 45px;
font-weight: 700;
}
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}
.sponsors-img-container img{
    width: 165px;
}
/* responsive media style*/
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container
    {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content,
    .facts-card-container
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    
}
/* tablet or medium devices*/
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav,
    .teams-container,
    .sponsors-img-container
    {
        flex-direction: column;
    }
}